
<p>{{input type="text" value=title size="50"}}</p>

<div class="panel panel-default">
  <div class="panel-heading">
    {{textarea value=excerpt cols="80" rows="2"}}
  </div>
  <div class="panel-body">
    {{textarea value=body cols="80" rows="12"}}
  </div>
</div>


