<div class="page-header">
  <h2>Resume <small>Updated January, 2013</small></h2>
</div>

<section id="resume-contact" class="row">

	<div class="col-xs-12 col-sm-6 col-md-6">
    	<img src="assets/profile.jpg" alt="Joseph Sillitoe" class="img-thumbnail img-responsive center-block hidden-print" />
	</div>
	
	<div id="contact-details" class="col-xs-12 col-sm-6 col-md-4">
		<div class="center-block">
			<h1>Joseph Sillitoe</h1>
			<h3>Web Developer / Designer</h3>
			
			<ul class="list-unstyled">
		      <li class="address">555 Street Address, Toledo, Ohio, 43606 U.S.A.</li>
		      <li class="phone">(000) 000-0000</li>
		      <li class="email"><a href="mailto:your-email@gmail.com">your-email@gmail.com</a></li>
		      <li class="site_url"><a href="http://www.webcodepro.net/about.php" title="www.your-website.com">www.your-website.com</a></li>
		      <li class="twitter"><a href="http://twitter.com/twitter-screen-name" title="Follow Me on Twitter">@twitter-screen-name</a></li>
		    </ul>
	    </div>
    </div>  

</section>

<section id="resume-profile">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Profile</h3>
	  </div>
	  <div class="panel-body">
		<p>
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
			Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. 
			Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
		</p>
	  </div>
	</div>
</section>



<section id="resume-skills">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Skills</h2>
  </div>
  <div class="panel-body">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  </div>

  <!-- Table -->
  <table class="table">
  	<tr>
  		<th>Languages</th>
  		<th>Web</th>
  		<th>Tools</th>
  	</tr>
    <tr>
    	<td>Java</td>
    	<td>HTML5</td>
    	<td>Git</td>
    </tr>
    <tr>
    	<td>PHP</td>
    	<td>CSS3</td>
    	<td>Eclipse</td>
    </tr>
    <tr>
    	<td>JavaScript</td>
    	<td>Jquery</td>
    	<td>Grunt Js</td>
    	
    </tr>
    <tr>
    	<td>SQL</td>
    	<td>Drupal</td>
    	<td>MySQL</td>
    </tr>
    <tr>
    	<td>XMPP</td>
    	<td>Ember Js</td>
    	<td>Openfire</td>
    </tr>
  </table>
</div>
</section>

<section id="resume-experience">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h2 class="panel-title">Experience</h2>
	  </div>
	  <div class="panel-body">
		  <div>
		    <h4>Web Developer / Designer</h4>
		    <p>Company Name 1</p>
		    <p>February 2009 &#45; Present</p>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
		  </div>
	  </div>
	</div>
</section>

<section id="resume-education">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h2 class="panel-title">Education</h2>
	  </div>
	  <div class="panel-body">
	    <h4>University of Nevada, Las Vegas</h4>
	    <p>Management Information Systems</p>
	    <p>2003 &#45; 2008</p>
	    <p>
	      <a href="http://www.unlv.edu/" target="_blank" title="University of Nevada, Las Vegas">www.unlv.edu</a>
	    </p>
	  </div>
	</div>
</section>


